.body__wrapper {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    position: absolute;
    /* top: 45%;
    transform: translateY(-45%) !important; */

    height: 350px;
    overflow-y: scroll !important;
    overflow-x: hidden;

    width: 600px;

    border-radius: 10px;
}

.accordionSummary {
    padding: 5px !important;
    transition: all 450ms;
}

.accordionSummary:hover {
    background-color: rgb(204, 204, 204);
    padding: 10px !important;
}

.options_list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100%;
    width: 100%;
}

.optionButtons {
    font-size: 11px !important;
}