.loading {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadingCircle {
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    background-color: black;
    margin: 3px;
    border-radius: 0.25rem;
}